@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&display=swap');

@theme {

    --color-verde-1: #009A2A;
    --color-verde-2: #00671e;
    --color-verde-escruo: #004d33;
    --color-verde-claro: #24C48A;
    --color-azul-1: #007FFF;
    --color-azul-2: #5f5ff6;
    --color-azul-escuro: #374957;
    --color-azul-claro: #98dcff;
    --color-cinzento-1: #878787;
    --color-cinzento-2: #d9d9d9;
    --color-cinzento-3: #f5f5f5;
    --color-preto-1: #000000cc;
    --color-preto-2: #000000e0;

    --font-primary: 'Poppins', sans-serif;
    --font-logo: 'Expletus Sans', cursive;

}



@media (max-width: 768px) {
    .logo {
        font-size: 1.5rem;
    }
}
@media (min-width: 768px) {
    .logo {
        font-size: 1.2rem;
    }
}
@media (min-width: 1024px) {
    .logo {
        font-size: 2rem;
    }
}
@media (min-width: 1440px) {
    .logo {
        font-size: 2.5rem;
    }
}

.botao {
    width:fit-content;
}

.banner-slide {
  background-color: #f5f5f5;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.banner-slide.loaded {
  opacity: 1;
}
